<h1>Edytuj samochod</h1>
<%= form_for(@car) do |f| %>
	<% @car.errors.full_messages.each do |err| %>
		<li>
			<%= err%>
		</li>
	<% end %>
<%= f.label :brand %>
<%= f.text_field :brand %>
<br>
<%= f.label :carModel %>
<%= f.text_field :car_model %>
</br>
<%= f.label :Engine_ID %>
<%= f.text_field :engine_id  %>



<%= f.submit 'Edytuj' %>
<% end %>