
<h2> Welcome </h2>
	
	<%if current_user %>
	<h3> Czesc <%=current_user.email %> </h3>
	<h1> Lista Samochodów </h1>
	<ul>
		<%@car.each do |c| %>
		<li>
			<%= link_to c.brand, car_path(c) %>
		</li>
		<% end %>
	<%= link_to "Dodaj car", new_car_path %> 
</br>
	<%= link_to "Lista enginow", engine_path(1) %> 
	</ul>
	<%= link_to 'Wyloguj sie!', destroy_user_session_path, method: :delete %>
	<%= link_to 'Panel Uzytkownika' %>

	<%else %>
	<h3> Siema gosciu ! </h3>
	 <%= link_to 'Zarejestruj sie', new_user_registration_path %>
	 <br>	 
	 	<%= link_to 'Zaloguj sie!',
	  	new_user_session_path %>
	</br>
	<% end %>