<h1> dodaj car </h1>
<%= form_for(@car) do |f| %>
	<% @car.errors.full_messages.each do |err| %>
		<li>
			<%= err%>
		</li>
	<% end %>

	<%= f.label :Brand  %>
	<%= f.text_field :brand %>

	</br>
	<%= f.label :Model  %>
	<%= f.text_field :car_model %>
	</br>
	
	<%= f.label :engine_id %>
	<%= f.text_field :engine_id%>
	
	
	<%= f.label :Type %>
	<%= f.text_field :cartype%>
	</br>	

	</br>
	<%= f.submit "Dodaj!" %>
	</br>
<% end %>
