.container
  %h1 dodaj car
  = form_for(@car) do |f|
    - @car.errors.full_messages.each do |err|
      %li
        = err
    .form-group
      = f.label :Brand
      = f.text_field :brand ,  class: 'form-control'
      = f.label :Model
      = f.text_field :car_model,  class: 'form-control'
      = f.label :engine_id
      = f.text_field :engine_id,  class: 'form-control'
      = f.label :Type
      = f.text_field :cartype,  class: 'form-control'
      = f.submit "Dodaj", class: 'btn btn-primary'